@tailwind base;
@tailwind components;
@tailwind utilities;

.polygon-1 {
    clip-path: polygon(0% 45%,
            7% 10%,
            94% 0%,
            100% 70%,
            93% 98%,
            55% 95%,
            5% 98%)
}

.polygon-2 {
    clip-path: polygon(0% 30%,
            7% 0%,
            96% 0%,
            100% 75%,
            92% 100%,
            50% 95%,
            3% 100%)
}

.polygon-3 {
    clip-path: polygon(0% 30%,
            7% 0%,
            96% 0%,
            100% 75%,
            92% 100%,
            50% 95%,
            3% 100%)
}

.polygon-not-found {
    @apply bg-dark text-category;
    clip-path: polygon(0% 100%, 0% 15%, 15% 0%, 100% 0%, 100% 50%, 80% 100%);
}

.polygon-rounded-1 {
    clip-path: polygon(29% 0, 91% 9%, 100% 62%, 81% 94%, 21% 100%, 0 39%);
}

/* Patterns from https://www.magicpattern.design/tools/css-backgrounds */

.lines {
    background-size: 40px 40px;
    background-image: repeating-linear-gradient(0deg, #00000022, #00000022 1px, transparent 1px, transparent);
}

.lines-20 {
    background-size: 20px 20px;
    background-image: repeating-linear-gradient(0deg, #00000009, #00000009 1px, transparent 1px, transparent);
}

.polka {
    background-image: radial-gradient(#00000044 1px, transparent 1px);
    background-size: 36px 36px;
}

.polka-ig {
    background-image: radial-gradient(#00000044 1.5px, transparent 1.5px);
    background-size: 60px 60px;
}